requirements.txt
structura_proiect.txt
TODO.md
ce trebuie sa contina raportul
products
reports
logs
archive
.pyc

devices/power_supplies/__pycache__/manager.cpython-313.pyc
devices/power_supplies/__pycache__/owon_spe3051.cpython-313.pyc
devices/raspberry_pi/__pycache__/pi_client.cpython-313.pyc
ui/__pycache__/device_manager_window.cpython-313.pyc
ui/__pycache__/product_editor.cpython-313.pyc
